{% block title %} Create a Hunt {% endblock %}
{% block content %} 
<script src="/resource/jquery.js" type="text/javascript"></script>
<script src="/resource/jquery-ui.js" type="text/javascript"></script>

<link rel="stylesheet" href="/resource/jquery-ui.css" />

<script type="text/javascript">
    work = 3;
	sleep = 100;
	play = 3;
	dwork = 0;
	dsleep = 0.2;
	dplay = 0;
	
	sleeping = false;
	
    function init() {
        refreshDisplays();
    }
	
	function cost(n) {
		return Math.floor(Math.exp(n+2) + n*n + n + 10);
	}
	
    function refreshDisplays() {
        $("#workDisp").text("Work: " + Math.floor(work).toString());
        $("#playDisp").text("Play: " + Math.floor(play).toString());
        $("#sleepDisp").text("Sleep: " + Math.floor(sleep).toString());

		$("#workUpgDisp").text("Cost: " + (cost(dwork)).toString());
        $("#playUpgDisp").text("Cost: " + (cost(dplay)).toString());
		
        $("#progressbar").progressbar({ value: sleep });
		$('#progressbar').width(200);
    }
    function increaseWork() {
        work++;
        refreshDisplays();
    }
    function increasePlay() {
        play++;
        refreshDisplays();
    }
    function increasePlaying() {
		if(play >= cost(dplay))
		{
			play = play - cost(dplay);
			dplay++;
		}
		refreshDisplays();
    }
	function increaseWorking() {
		if(work >= cost(dwork))
		{
			work = work - cost(dwork);
			dwork++;
		}
		refreshDisplays();
    }
    function toggleSleeping() {
		if(sleeping){
			$("#sleepButton").val("Go to sleep!");
			sleeping = false;
		}
		else
		{
			$("#sleepButton").val("Wake up!");
			sleeping = true;
		}
    }
	
	var myVar=setInterval(function(){myTimer()},1000);

	function myTimer()
	{
		if(sleeping)
		{
			sleep = sleep + 2*dsleep;
			if (sleep > 100) {
				sleep = 100;
			}
			work = work - 0.1*dwork;
			play = play - 0.1*dplay;
		} else if(sleep > 0)
		{
			sleep = sleep - dsleep;
			work = work + dwork;
			play = play + dplay;
		} else {
			sleep = sleep - 5*dsleep - 5;
			work = work - 5*dwork - 5;
		}
		refreshDisplays();
	}
    window.onload = init;
</script>
<div id="workDisp"></div>
<div id="playDisp"></div>
<div id="sleepDisp"></div>
<div id="progressbar"></div>


<form action="javascript:void(0);" onsubmit="increaseWork();">
    <input type="submit" value="Work!" />
</form>
<form action="javascript:void(0);" onsubmit="increasePlay();">
    <input type="submit" value="Play!" />
</form>


<form action="javascript:void(0);" onsubmit="increaseWorking();">
    <input type="submit" value="Working!" />
</form>
<div id="workUpgDisp"></div>

<form action="javascript:void(0);" onsubmit="increasePlaying();">
    <input type="submit" value="Playing!" />
</form>
<div id="playUpgDisp"></div>

<form action="javascript:void(0);" onsubmit="toggleSleeping();">
    <input type="submit" value="Go to sleep!" id="sleepButton" />
</form>

{% endblock %}
