{% block title %} Create a Hunt {% endblock %}
{% block content %} 
<script type="text/javascript">
    work = 3;
	sleep = 3;
	play = 3;

    function increaseWork() {
        work++;
        alert(work);
    }

    function increaseSleep() {
        sleep++;
        alert(sleep);
    }

    function increasePlay() {
        play++;
        alert(play);
    }
</script>

<form action="javascript:void(0);" onsubmit="increaseWork();">
    <input type="submit" value="Work!" />
</form>
<form action="javascript:void(0);" onsubmit="increaseSleep();">
    <input type="submit" value="Sleep!" />
</form>
<form action="javascript:void(0);" onsubmit="increasePlay();">
    <input type="submit" value="Play!" />
</form>

{% endblock %}
